@import '../../assets/variables.css';

.container {
    height: 55px;
    background: color($black a(5%));
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addVersion {
    border: 1px dashed color($black a(30%));
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}