@import '../../assets//variables.css';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    height: 40px;
    line-height: 40px;
    font-size: $font-size-xxlarge;
    max-width: 570px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 2px solid color($yellow a(0));
    padding-bottom: 5px;
}

.editable {
    line-height: 40px;
    font-size: $font-size-xxlarge;
    outline: none;
    max-width: 570px;
    word-break: break-all;
    border-bottom: 2px solid $yellow;
    padding-bottom: 5px;
}

.tool {
    opacity: 0.2;
    cursor: pointer;
}