@import '../../assets/variables.css';

.container {
    background: $white;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.date {
    color: color($black a(50%));
}

.banTitle {
    color: $orangered;
    font-size: $font-size-large;
}

.name {
    font-size: $font-size-big;
    max-width: 400px;
}

.banDate {
    font-size: $font-size-small;
    color: color($black a(50%));
}

.user,
.delimiter,
.price {
    color: color($black a(50%));
}

.delimiter {
    margin: 0 15px;
}

.reasonTitle {
    font-size: $font-size-small;
    text-transform: uppercase;
    color: color($black a(50%));
    margin-bottom: $size-xxs;
    font-weight: 600;
}

.reasonDescription {
    font-size: $font-size-big;
}

.context {
    background-image:
        radial-gradient(
            ellipse at 380px -30px,
            rgba(255, 255, 255, 0.33) 0%,
            rgba(255, 255, 255, 0.31) 5%,
            rgba(255, 255, 255, 0.28) 8%,
            rgba(255, 255, 255, 0.24) 10%,
            rgba(255, 255, 255, 0.19) 13%,
            rgba(255, 255, 255, 0.14) 16%,
            rgba(255, 255, 255, 0.09) 21%,
            rgba(255, 255, 255, 0.05) 27%,
            rgba(255, 255, 255, 0.02) 37%,
            rgba(255, 255, 255, 0.00) 100%
        ),
        linear-gradient(rgba(65, 117, 5, 0.30), rgba(65, 117, 5, 0.30)),
        linear-gradient(#121201, #121201);
    background-size: 1600px 750px, 100%, 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 15px;
    color: #7ED321;
    line-height: 20px;
    overflow: hidden;
}
